# --- Frontend ---
node_modules/
dist/
.DS_Store

# --- Backend & Environment ---
.env
.venv/
venv/
__pycache__/
*.pyc
frontend/package-lock.json
frontend/package.json
# --- AI Models (Too large for Git) ---
backend/*.pkl
backend/*pkl.old
# --- Databases & Vector Stores ---
# This keeps your local javascript from overwriting your teammates' javascript
*.db
*.sqlite3
data/
rag_db/
backend/rag_db/
# --- Media & Large Data Assets ---
*.mp4
*.csv
Random Forest ML/rf_metrics.json
Random Forest ML/rf_metrics.json.old