# Web Framework & Server
fastapi
uvicorn
python-multipart

# Database & ORM
sqlalchemy
psycopg2-binary
supabase

# Machine Learning & Data Processing
scikit-learn
pandas
datasets
joblib
# Keeps numpy compatible with bugbug and Python 3.11
numpy>=1.23.2

# Vector Database (RAG)
chromadb

# Mozilla Bugbug
bugbug

# Utilities & Security
python-dotenv
pydantic
requests
bcrypt==4.0.1
passlib
PyJWT